body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #696f7a;
}

li {
  list-style: none;
}

i.flag {
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  padding: 0 0.5rem;
}

.card-title {
  text-transform: uppercase;
  font-size: 1rem !important;
}
